<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.sharing">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_nome"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="br.com.sharing.controleacesso.gui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.sharing.controleacesso.gui.CadastroActivity" />
        <activity
            android:name="br.com.sharing.controleacesso.gui.PerfilActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarMeusObjetosActivity"
            android:label="Meus Objetos" />
        <activity
            android:name="br.com.sharing.controleacesso.gui.AddObjetoActivity"
            android:label="Adicionar Objeto" />
        <activity
             android:name="br.com.sharing.controleacesso.gui.ListarObjetosFerramentasActivity"
             android:label="Ferramentas"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarObjetosLivrosActivity"
            android:label="Livros"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarObjetosJogosActivity"
            android:label="Jogos"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarObjetosCozinhaActivity"
            android:label="Utensílios de Cozinha"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarObjetosViagemActivity"
            android:label="Objetos para Viagens"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListarObjetosOutrosActivity"
            android:label="Outros Objetos"/>

        <activity
            android:name="br.com.sharing.controleacesso.gui.ObjetoActivity"
            android:label="@string/app_nome"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.MeuObjetoActivity"
            android:label="@string/app_nome"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.ListaImagensObjetoActivity"
            android:label="Imagens"/>
        <activity
            android:name="br.com.sharing.controleacesso.gui.CalendarActivity"
            android:label="Devoluções"/>
    </application>

</manifest>
